.header {
    background-color: #fff;
    color: $font-cr-primary;
    padding: 11px $side-gutters-sm;
    @include media('>=desktop') {
        padding-left: 28px;
        padding-right: 28px;
    }
    @include media('>=widescreen') {
        padding-right: 7.41vw;
        padding-left: 7.41vw;
    }
    @include media('>=tablet') {
        padding-left: 28px;
    }
    .login {
        @include media('>=tablet') {
            display: flex !important;
        }
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-user {
    display: flex;
    align-items: center;
    margin-left: auto;
    @include media('<tablet') {
        line-height: 1.3;
    }
    @include hover {
        color: rgba($cr-brand-secondary, .5);
        text-decoration: none;
    }
}

.header-user__icon {
    margin-right: 30px;
    color: $badge-bg;
    font-size: 22px;
}

.login {
    font-size: 22px;
    color: $badge-bg;
}

.login-link {
    color: $badge-bg;
    position: relative;
    @include hover {
        color: $cr-brand-primary;
        text-decoration: none;
        &:after {
            visibility: visible;
            opacity: 1;
        }
    }
    &:after {
        @include anim;
        @include xcenter;
        bottom: -11px;
        content: '';
        width: 44px;
        height: 3px;
        border-radius: 5px 5px 0 0;
        background-color: $cr-brand-primary;
        visibility: hidden;
        opacity: 0;
    }
}
