*, ::after, ::before {
    box-sizing: border-box;
}

body {
    position: relative;
    text-rendering: optimizeLegibility;
    @include media('>=desktop') {
        max-width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
}

.empty-wrapper {
    padding-top: 0;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    @include media('>=desktop') {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

.wrapper {
    @include media('>=tablet') {
        display: flex;
        min-height: 100vh;
        padding-left: $aside;
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: $container;
    &:not(.container--xl):not(.no-gutters) {
        padding-left: $side-gutters-sm;
        padding-right: $side-gutters-sm;
    }
    &--xl {
        @extend .container;
        max-width: $container-xl;
    }
    &--md {
        @extend .container;
        max-width: $container-md;
    }
    &--cms {
        @extend .container;
        max-width: $container-cms;
    }
    &--cms-sm {
        @extend .container;
        max-width: $container-cms-sm;
    }
    &--xs {
        @extend .container;
        max-width: $container-xs;
    }
    & &,
    .wrapped {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.page-ttl {
    display: none;
}

.main {
    width: 100%;
    @include media('>=desktop') {
        flex-grow: 1;
    }
}
