.refer-card {
    box-shadow: 0 8px 10px rgba(234, 240, 247, 0.5), 0 3px 5px rgba(19, 28, 43, 0.02);
    border-radius: 8px;
    background-color: #fff;
    padding: 30px;
}

.refer-card__ttl {
    margin-bottom: 10px;
}

.refer-card__txt {
    margin-bottom: 36px;
}

.refer-card__cta {
    margin-right: 18px;
    @include media('>=tablet') {
        min-width: 130px;
    }
}

.refer-card__footer {
    color: $font-cr-tertiary;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.51px;

    a {
        font-weight: 600;
    }
}