.b-request {
}

.b-request__heading {
    margin-bottom: 26px;
}

.b-request__ttl {
    margin-bottom: 6px;
}

.b-request__ttl-note {
    line-height: 1.2;
    display: inline-block;
    margin-top: 2px;
}

.b-request__footer-btns {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.b-request__footer-btn {
    margin-left: 20px;
}
