// Fonts
$font-primary:              Poppins, Arial, sans-serif;

// Body
$base-font-size:            16px !default;
$line-height-base:          1.6111 !default; //27px

// link colors
$link-cr-font:              $cr-brand-primary;

// headings
$heading-weight:            700;
$heading-cr:                $cr-brand-tertiary;
$heading-letter-spacing:    4px;

// Additional
$accent-color:              $cr-brand-primary;
