/* LINKS */

[class*="link-"] {
    @include anim;
    @extend .btn-transparency;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    [class*="icon"] {
        margin-right: 10px;
    }
}

.link-primary {
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    color: $cr-link;
    &:hover {
        color: $cr-brand-secondary;
    }
    .ajax-loader {
        @include ycenter;
        left: 105%;
    }
}

.link-more {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    .icon-arrow-r {
        @include anim;
        font-size: 9px;
        margin-left: 7px;
    }
    @include hover {
        .icon-arrow-r {
            transform: translateX(3px);
        }
    }
}
